.project_card {
    width: 100%;
    margin: 0.5em 0 5em;
}

.project_card h1 {
    color: #fff;
    letter-spacing: 1px;
}

.project_card h1 span {
    color: #BCBCBC;
    font-size: 0.5em;
    padding-left: 2em;
}

.project_description {
    margin: 1.2em 0 3.8em;
    display: flex;
}

.project_description p:first-child {
    width: 60%;
    word-wrap:break-word;
}

.project_description p {
    font-size: 1.2em;
    color: #BCBCBC;
}

.project_description p:last-child {
    width: 40%;
    text-align: end;
}

.project_description p:last-child span {
    padding-right: 10px;
}


.project_img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_overlay i {
    font-size: 3em;
}

.project_img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
}

.project_img_wrapper:hover .img_overlay {
    opacity:0.2;
}

/* Modal slider */
.swiper_modal {
    height: 100%;
}

.mySwiper {
    height: 100%;
}
.project_img_wrapper_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.project_img_wrapper_modal span:first-child {
    height: 100% !important;
    width: 100% !important;
}

.img_overlay_modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_overlay_modal i {
    font-size: 3em;
}

.project_img_wrapper_modal img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    cursor: pointer;
}

.modal_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #0F0E17;
    border-style: none;
}

.modal_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
}

.modal_close i {
    font-size: 2em;
    color: #797881;
}

.modal_close i:hover {
    color: #9e9da1;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    .project_card h1 span {
        display: block;
        padding: 1em 0 1em;
    }
    .project_description {
        display: flex;
        flex-direction: column;
    }
    
    .project_description p:first-child {
        width: 100%;
        word-wrap:break-word;
    }
    
    
    .project_description p:last-child {
        width: 100%;
        margin-top: 1em;
        font-size: 1em;
        text-align: start;
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    .project_card h1 span {
        display: block;
        padding: 1em 0 1em;
    }
    .project_description {
        display: flex;
        flex-direction: column;
    }
    
    .project_description p:first-child {
        width: 100%;
        word-wrap:break-word;
    }
    
    
    .project_description p:last-child {
        width: 100%;
        margin-top: 1em;
        font-size: 1em;
        text-align: start;
    }
}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    .project_card h1 span {
        display: block;
        padding: 1em 0 1em;
    }
    .project_description {
        display: flex;
        flex-direction: column;
    }
    
    .project_description p:first-child {
        width: 100%;
        word-wrap:break-word;
    }
    
    
    .project_description p:last-child {
        width: 100%;
        margin-top: 1em;
        font-size: 1em;
        text-align: start;
    }
}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    .project_card h1 span {
        padding-left: 2em;
        display: inline;
    }
    .project_description {
        display: flex;
        flex-direction: row;
    }
    
    .project_description p:first-child {
        width: 60%;
        font-size: 1.2em;
        word-wrap:break-word;
    }
    
    
    .project_description p:last-child {
        width: 40%;
        margin: 0;
        font-size: 1.2em;
        text-align: end;
    }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

}